<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.arlingtonrentacar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UserProfile"></activity>
        <activity android:name=".ManagerViewAvailableCarSummaryScreen" />
        <activity android:name=".ViewProfile"></activity>
        <activity android:name=".ManagerViewAvailableCarsScreen" />
        <activity android:name=".ManagerViewCarDetailScreen" />
        <activity android:name=".ManagerSearchCarSummaryScreen" />
        <activity
            android:name=".ManagerSearchCarScreen"
            android:label="@string/title_activity_manager_search_car_screen" />


        <activity
            android:name=".renter.RenterViewProfileActivity"
            android:label="View Profile"
            android:parentActivityName=".RenterHomeScreen" />
        <activity
            android:name=".renter.RenterReservationDetailsActivity"
            android:label="Reservation Details"
            android:parentActivityName=".renter.RenterReservationsSummaryActivity" />
        <activity
            android:name=".renter.RenterReservationsSummaryActivity"
            android:label="Reservations Summary"
            android:parentActivityName=".renter.RenterViewReservationsActivity" />
        <activity
            android:name=".renter.RenterViewReservationsActivity"
            android:label="View Reservations"
            android:parentActivityName=".RenterHomeScreen" />
        <activity
            android:name=".RenterHomeScreen"
            android:label="@string/renter_screen" />
        <activity
            android:name=".AdminHomeScreen"
            android:label="@string/admin_screen" />
        <activity
            android:name=".ManagerHomeScreen"
            android:label="@string/manager_screen" />
        <activity
            android:name=".ViewRequestedCarActivity"
            android:label="@string/viewRequestedCarActivityLabel"
            android:parentActivityName=".RequestCarActivity" />
        <activity
            android:name=".RequestedCarDetailsActivity"
            android:label="@string/RequestedCarDetailsActivityLabel"
            android:parentActivityName=".ViewRequestedCarActivity" />
        <activity
            android:name=".RequestCarActivity"
            android:label="@string/requestCarActivityLabel"
            android:parentActivityName=".RenterHomeScreen" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/registerActivityLabel"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".testactivity"
            android:label="@string/admin_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".manager.View_Reservation_Calendar" />
        <activity android:name=".manager.View_Reservation_Details" />
    </application>

</manifest>